{% import "_flash.html" as flash %}
{% macro render(form) -%}
<form id="form-login" action="." method="post">
<script>
(function($){
	$(document).ready(function(){
		$('#btn-login').click(function(){
			$('#form-login').submit();
		});
		
		
	})//end ready
})(jQuery)
</script>
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="clearfix {% if field.errors %}error{% endif %}">
    {{ field.label }}
    <div class="input">
      {{ field() }}
      {% if field.errors or field.help_text %}
        <span class="help-inline">
        {% if field.errors %}
          {{ field.errors|join(' ') }}
        {% else %}
          {{ field.help_text }}
        {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endfor %}
	<div class="btn-line">
		<a id="btn-login" class="btn btn-a" href="#" onclick="return false;">Log In</a>
		{{flash.render('login')}}
	</div>
</fieldset>
</form>
{% endmacro %}