{% import "tumblelog/_text-editor-form-a.html" as forms %}
{% extends "base.html" %}

{% block subHead %}
{% endblock %}


{% block content %}
<div class="row">
<div class="col-md-8">
	<h2>{{ welcome }}</h2>
	<div>{{forms.render(form)}}</div>
	
	<div>
	{% for post in posts %}
      <h2><a href="#">{{ post.title }}</a></h2>
      <p>{{ post.body|striptags|truncate(300,True) }}</p>
      <p>
        {{ post.created_at.strftime('%H:%M %Y-%m-%d') }} |
      </p>
    {% endfor %}
	</div>
</div>
<div class="col-md-4 hidden-sm">
	<h2>{{ welcome }}</h2>
</div>
</div>
{% endblock %}