{% import "tumblelog/_text-editor-form-a.html" as forms %}
{% import "_stack.html" as stacks %}
{% extends "base.html" %}

{% block subHead %}
<script type="text/javascript">
(function($){
	$(document).ready(function(){
		
		var running = false;
		$(window).scroll(function() {
			var endScroll = $(window).scrollTop() + $(window).height() > $(document).height() - 200;
		    if(running == false && endScroll) {
				var page = $('div.post').length;
				//start
		    	running = true;
				$('.page-loading').toggle();
		       
			    $.ajax({
			        type: 'GET',
			        url: '/tumblelog/page/' + page + '/',
			        success : function(posts){
				    	$.each(posts,function(i,post){
					    	var html = '';
				    		var div, strBody, _d ,yy, mm, dd, HH, MM, strDate;
			    		    
				    		//body
				    		div = document.createElement("div");
				    		div.innerHTML = post.body 
				    		strBody = div.innerText.substring(0,300);
			    		    
				    		//date
			    		    _d = new Date(post.created_at.$date);   
			    		    yy = _d.getFullYear();                  
			    		    mm = _d.getMonth() + 1; // getMonth() is
			    		    dd = _d.getDate();                      
			    		    HH = _d.getHours();                     
			    		    MM = _d.getMinutes();                   
	
			    		    strDate = yy+ (mm < 10 ? '.0':'.') + mm 
			    						+ (dd < 10 ? '.0':'.') + dd + ' ' 
			    						+ (HH < 10 ? '0':'') + HH +':'
			    						+ (MM < 10 ? '0':'') + MM;  
					    	
			    						
			    			//html
					    	html += '<div class="post clearfix">'
					    	html += '<h3><a href="/tumblelog/'+post.title.replace(' ','%20')+'/">'+post.title+'</a></h3>'
					    	html += '<p>'+strBody+'</p>';
					    	html += '<p>'+strDate+'</p>';
					    	html += '</div>';
					    	
					    	$('#post-box').append(html);
				    		
				    	});//end each
				    	
				    	//end
					    $('.page-loading').toggle();
					    running = false;
					    
			        }//end callback
			    });//end ajax
			    
		    }
		});//end scrollevent
		
	})//end doc-ready
})(jQuery)
</script>
{% endblock %}


{% block content %}
<div class="row">
<div class="col-md-8">
	<div>{{forms.render(form)}}</div>
	<div id="post-box">
		{% for post in posts %}
		<div class="post clearfix">
		     <h3><a href="{{ url_for('tumblelog.detail', title=post.title) }}">{{ post.title }}</a></h3>
		     <p>{{ post.body|striptags|truncate(300,True) }}</p>
		     <p>{{ post.created_at.strftime('%Y.%m.%d %H:%M ') }}</p>
		</div>
		{% endfor %}
	</div>
</div>
<div class="col-md-4 hidden-sm">
	<a href="/">
		<h2>Fly High Root</h2>
	</a>
	{{stacks.render(stack)}}
</div>
</div><!-- endRow -->
{% endblock %}